<div class="contentCart">
<ul>
    <li *ngFor=" let article of articles">
        <a routerLink="/articles">
            <div class="name">{{article.name}}</div>
            <div class="content">
                <img src="data:image/jpeg;base64,{{article.picture}}" alt={{article.name}}/>
                <div class="price">
                    {{article.price |currency}}
                </div>
            </div>
        </a>
    </li>
</ul>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<button type="button" class="btn btn-light d-md-flex justify-content-md-end" routerLink="/articles/add">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
</button>
</div>